{% raw %}
{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
</head>
<p class="top-space"></p>

<div class="container mainContainer">
    <div>
        {% if validlink %}
        <p>Use this form to change your password. Please enter your new password twice so we can verify you typed it in
            correctly.</p>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <div class="form-group" style="max-width: 500px">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    <input class="form-control" type="password" name="new_password1" required id="id_new_password1"
                        aria-autocomplete="list">
                </div>
                <div class="form-group" style="max-width: 500px">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    <input class="form-control" type="password" name="new_password2" required id="id_new_password2">
                </div>
                <input class="btn btn-primary" type="submit" value="Change my password">
            </fieldset>
        </form>

        {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.
        </p>

        {% endif %}
    </div>
</div>

{% endblock %}
{% endraw %}