{% raw %}
{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
</head>

<p class="top-space"></p>

<h1 class="h3 mb-3 font-weight-normal text-center">Password reset sent</h1>

<div class="container mainContainer">
    <div>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>
    </div>
    <a href="/">Back to home page</a>
</div>
{% endblock %}
{% endraw %}